<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christmas Friend</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="flex-container">
      <div class="textbox">
        <h1 class="title">Christmas<br> Friend</h1>
      </div>
      <div class="imageboxdiv">
        <img src="{{ url_for('static',filename='santa.png') }}" alt="santa" class="santa" />
      </div>
      <div class="formbox">
        <form action="{{ url_for("gfg")}}" method="post" class="formbox">
        <input
          type="text"
          id="firstname"
          name="fname"
          placeholder="Phone Number"
        />
        <input type="password" id="lastname" name="lname" placeholder="Password" />
        <button type="submit">Login</button>
      </div>
    </div>
  </body>
</html>
